{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
    {% from "components/header.html" import nav_list %}
    {{ nav_list(activados) }}

    <section class="h-full gradient-form bg-gray-200 dark:bg-gray-900">
        <div class="container py-12 px-6 h-full">
            <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
                <div class="xl:w-10/12">
                    <div class="block bg-white shadow-lg rounded-lg overflow-hidden">
                        <div class="lg:flex lg:flex-wrap g-0">
                            <div class="bg-gradient-to-r from-stone-800 via-primary-900 to-primary-600 lg:w-6/12 hidden lg:flex items-center">
                                <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                                    <h4 class="text-xl font-semibold mb-6">Somos mas que una cerveceria</h4>
                                    <p class="text-sm">Somos por lo menos 17 cervecerías repartidas por todo el país, registrate y disfruta de nuestros servicios de primerísima calidad, aprovecha nuestras mejores ofertas y junto a Argentina vamos a ser la comunidad cervecera más <del>borracha</del> fiestera del mundo y también quiero agradecer a todo mi equipo, sin su esfuerzo y dedicación, jamás podríamos haber llegado hasta donde estamos, sin lugar a duda son el mejor equipo de waterpolo que me pudo haber tocado.</p>
                                </div>
                            </div>
                            <div class="lg:w-6/12 px-4 md:px-0">
                                <div class="md:p-12 md:mx-6">
                                    <div class="text-center">
                                        <img class="mx-auto mb-12 w-48 mt-10 md:m-auto" src="{{url_for('static', filename='assets/logo.svg')}}" alt="logo" />
                                    </div>
                                    <form>
                                        <p class="mb-4">Ingrese su nombre de usuario y contraseña.</p>
                                        <div class="mb-4">
                                            <input type="text" class="form-control block w-full px-3 py-1.5 text-gray-700 bg-white border border-gray-300 rounded transition ease-in-out m-0 focus:ring-primary-600 focus:border-primary-600 focus:text-gray-700" id="exampleFormControlInput1" placeholder="Usuario" />
                                        </div>
                                        <div class="mb-4">
                                            <input type="password" class="form-control block w-full px-3 py-1.5 text-gray-700 bg-white border border-gray-300 rounded transition ease-in-out m-0 focus:ring-primary-600 focus:border-primary-600 focus:text-gray-700" id="exampleFormControlInput1" placeholder="Contraseña" />
                                        </div>
                                        <div class="mb-4">
                                            <input type="password" class="form-control block w-full px-3 py-1.5 text-gray-700 bg-white border border-gray-300 rounded transition ease-in-out m-0 focus:ring-primary-600 focus:border-primary-600 focus:text-gray-700" id="exampleFormControlInput1" placeholder="Repetir contraseña" />
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="bg-gradient-to-r from-primary-600 via-primary-900 to-stone-800 inline-block py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-primary-700 hover:shadow-lg focus:shadow-lg focus:ring-0 transition duration-150 ease-in-out w-full mb-3" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light">registrate</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}
{% endblock %}